.revi {
  background-color: blue;
  color: brown;
  box-shadow: 0 0 5px 5px black;
}

body {
  background-color: gray;
  color: white;
  
}

p {
  font-size: large;
  font-weight: bold;
  background-color: #ADD8E6;
  color: black;
  
}

button {
  background-color: aquamarine;
  font-weight: bold;
  
  
}

.gerak {
  font-weight: bold;
  
}


