.revi {
  background-color: blue;
  color: red;
  box-shadow: 0 0 5px 5px black
}

body {
  background-color: gray;
  color: white;
  
}

p {
  font-size: large;
  font-weight: bold;
  background-color: orange;
  
}

button {
  background-color: #ADD8E6;
  font-weight: bold;
  
}
